@import "./colors";

.MuiAppBar-root {
    background-color: $color-white !important;
    border-bottom: 1px solid $color-light--grey;
}

.MuiToolbar-root{
    justify-content: space-between;
}

.drawerpaper{
    background-color: $color-white;
}

.close-icon{
    color: $color-black;
    margin-top: 10px;
    margin-right: 5px;
    align-self: end;
}

.MuiList-root{
    width: 90%;
    margin: 2rem auto 0 !important;
    .MuiListItem-button{
        border-bottom: 1px solid $color-light--grey;
    }
    
    .MuiListItemIcon-root{
        color: $color-green !important;
        min-width: 25px;
    }
    
    .MuiListItemText-root{
        color: $color-black !important;
    }
}


