@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./colors";

/*Globals*/
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Content*/
.page-content {
    padding-top: 80px;
    padding-bottom: 80px;
}

/*Buttons*/
.MuiButtonBase-root {
    box-shadow: none !important;
    padding: 5px 20px !important;
    text-transform: none !important;
}

.MuiButton-containedPrimary {
    color: $color-white !important;
}
.btn-primary {
    color: inherit;
    background-color: $color-white ;
    border-color: $color-light--grey;
    box-shadow: none;
    svg{
        color: $color-green;
        margin-left: 5px;
        font-size: 20px;
    }
    &:active, &:hover, &:focus{
        background-color: $color-green !important;
        border-color: $color-green !important;
        box-shadow: 0 0 0 0.12rem rgba(51, 105, 58, 0.425) !important;
        svg{
            color:$color-white ;
            margin-left: 5px;
        }
    }
}
/* .btn-primary.dropdown-toggle {
    &:active, &:hover, &:focus{
        background-color: $color-green !important;
        border-color: $color-green !important;
        box-shadow: 0 0 0 0.12rem rgba(51, 105, 58, 0.425) !important;
        &::after{
            content: url("../../../public/images/filter_icon_white.svg");
        }
    }
} */
