@import "./colors";
@import "./breakpoints";
#root{
    height: 100%;
}
.page-not-found {
    height: 100%;
    padding: 0 !important;
    .header{
        height: 55%;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: $breakpoint-tablet) {
            height: 50%;
        }
        h1{
            font-size: 18rem;
            color: $color-green;
            line-height: 13rem;
            display: flex;
            align-self: end;
            justify-self: center;
            margin-bottom: -5px;
            @media only screen and (max-width: $breakpoint-tablet) {
                font-size: 12rem;
                line-height: 9rem;
            }
        }
    }
    .body{
        padding-top: 2rem;
        background-color: $color-green;
        text-align: center;
        height: 45%;
        @media only screen and (max-width: $breakpoint-tablet) {
            height: 50%;
        }
        h2{
            font-size: 3rem;
            @media only screen and (max-width: $breakpoint-tablet) {
                font-size: 2rem;
            }
        }
        p{
            font-size: 2rem;
            @media only screen and (max-width: $breakpoint-tablet) {
                font-size: 1.3rem;
            }
        }
    }

    .btn-white{
        font-size: 1.5rem !important;
        padding: 0 50px !important;
        @media only screen and (max-width: $breakpoint-tablet) {
            font-size: 1.3rem !important;
        }
    }
}
